*{
    margin: 0px;
}

#container{
    display: flex; /*mas funções, mas habilita manejo do conteúdo*/
    justify-content: center; /*alinhamento horizontal, dispensando o margin: auto*/
    align-items: center; /*alinhamento vertical*/

    background-color: lightcoral;
    height: 100vh;

    background-image: url(images/target001.png);
    background-size: 100% 100%;
}

#conteudo{
    background-image: url(images/target001.png);
    background-size: 100% 100%;

    height: 100px;
    width: 200px;
    background-color: coral;
}